In [3]:
import pandas as pd
from IPython.display import display, Markdown

In [1]:
def display_shapes(shapes):
    h_first = shapes.sort_values("shape_h", ascending=False)
    w_first = shapes.sort_values("shape_w", ascending=False)
    area = shapes.sort_values("area", ascending=False)

    display(Markdown("## H"))
    display(h_first.head(30))
    display(Markdown("## W"))
    display(w_first.head(30))
    display(Markdown("## Area"))
    display(area.head(30))

# Shapes

In [4]:
shapes = pd.read_csv("data_npy/shape_info.csv")
shapes["area"] = shapes["shape_h"] * shapes["shape_w"]

display_shapes(shapes)

## H

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3261,50519,31308,601,601,"[1978.6, 1977.8, 1977.0, 1976.2, 1975.4, 1974....",361201
3260,50519,23991,601,601,"[2010.6, 2009.8, 2009.0, 2008.2, 2007.4, 2006....",361201
874,20689,14184,583,583,"[-1443.0, -1443.8, -1444.6, -1445.4, -1446.2, ...",339889
875,20689,48572,583,583,"[-1326.0, -1326.8, -1327.6, -1328.4, -1329.2, ...",339889
2695,43201,33794,552,552,"[1838.0, 1837.2, 1836.4, 1835.6, 1834.8, 1834....",304704
3341,5149,28128,544,544,"[1455.5, 1454.7, 1453.9, 1453.1, 1452.3, 1451....",295936
2928,46583,12323,543,543,"[-156.5, -159.0, -161.5, -164.0, -166.5, -169....",294849
1010,2254,687,538,538,"[-419.6, -420.4, -421.2, -422.0, -422.8, -423....",289444
1009,2254,15570,538,538,"[-475.0, -476.0, -477.0, -478.0, -479.0, -480....",289444
1296,26009,6135,535,535,"[-757.5, -759.1, -760.7, -762.3, -763.9, -765....",286225
2210,37028,25758,532,532,"[-845.0, -846.0, -847.0, -848.0, -849.0, -850....",283024
2696,43201,37579,532,532,"[1942.6, 1941.8, 1941.0, 1940.2, 1939.4, 1938....",283024
2211,37028,45013,532,532,"[-810.6, -811.4, -812.2, -813.0, -813.8, -814....",283024
3342,5149,51175,528,528,"[1454.5, 1453.7, 1452.9, 1452.1, 1451.3, 1450....",278784
4390,64769,11211,527,527,"[1490.7, 1489.9, 1489.1, 1488.3, 1487.5, 1486....",277729
1486,28211,9673,525,525,"[1909.6, 1908.8, 1908.0, 1907.2, 1906.4, 1905....",275625
2949,46831,21985,525,525,"[1641.0, 1640.2, 1639.4, 1638.6, 1637.8, 1637....",275625
1341,26473,11365,525,525,"[1631.0, 1627.0, 1623.0, 1619.0, 1615.0, 1611....",275625
3091,4852,24485,525,525,"[1554.0, 1553.2, 1552.4, 1551.6, 1550.8, 1550....",275625
2950,46831,35782,521,521,"[1639.9, 1639.1, 1638.3, 1637.5, 1636.7, 1635....",271441
2128,35997,53141,519,519,"[562.9, 562.0999, 561.2999, 560.5, 559.7, 558....",269361
2129,35997,62704,519,519,"[595.7999, 595.0, 594.2, 593.4, 592.5999, 591....",269361
1806,31966,41490,517,517,"[-968.0, -969.6, -971.2, -972.8, -974.4, -976....",267289
1807,31966,49736,517,517,"[-824.8, -825.2, -825.6, -826.0, -826.4, -826....",267289
1036,22957,57042,517,517,"[1906.5, 1905.7, 1904.9, 1904.1, 1903.3, 1902....",267289
1803,31927,47897,513,513,"[-718.0, -718.8, -719.6, -720.4, -721.2, -722....",263169

## W

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3260,50519,23991,601,601,"[2010.6, 2009.8, 2009.0, 2008.2, 2007.4, 2006....",361201
3261,50519,31308,601,601,"[1978.6, 1977.8, 1977.0, 1976.2, 1975.4, 1974....",361201
874,20689,14184,583,583,"[-1443.0, -1443.8, -1444.6, -1445.4, -1446.2, ...",339889
875,20689,48572,583,583,"[-1326.0, -1326.8, -1327.6, -1328.4, -1329.2, ...",339889
2695,43201,33794,552,552,"[1838.0, 1837.2, 1836.4, 1835.6, 1834.8, 1834....",304704
3341,5149,28128,544,544,"[1455.5, 1454.7, 1453.9, 1453.1, 1452.3, 1451....",295936
2928,46583,12323,543,543,"[-156.5, -159.0, -161.5, -164.0, -166.5, -169....",294849
1010,2254,687,538,538,"[-419.6, -420.4, -421.2, -422.0, -422.8, -423....",289444
1009,2254,15570,538,538,"[-475.0, -476.0, -477.0, -478.0, -479.0, -480....",289444
1296,26009,6135,535,535,"[-757.5, -759.1, -760.7, -762.3, -763.9, -765....",286225
2211,37028,45013,532,532,"[-810.6, -811.4, -812.2, -813.0, -813.8, -814....",283024
2210,37028,25758,532,532,"[-845.0, -846.0, -847.0, -848.0, -849.0, -850....",283024
2696,43201,37579,532,532,"[1942.6, 1941.8, 1941.0, 1940.2, 1939.4, 1938....",283024
3342,5149,51175,528,528,"[1454.5, 1453.7, 1452.9, 1452.1, 1451.3, 1450....",278784
4390,64769,11211,527,527,"[1490.7, 1489.9, 1489.1, 1488.3, 1487.5, 1486....",277729
2949,46831,21985,525,525,"[1641.0, 1640.2, 1639.4, 1638.6, 1637.8, 1637....",275625
3091,4852,24485,525,525,"[1554.0, 1553.2, 1552.4, 1551.6, 1550.8, 1550....",275625
1341,26473,11365,525,525,"[1631.0, 1627.0, 1623.0, 1619.0, 1615.0, 1611....",275625
1486,28211,9673,525,525,"[1909.6, 1908.8, 1908.0, 1907.2, 1906.4, 1905....",275625
2950,46831,35782,521,521,"[1639.9, 1639.1, 1638.3, 1637.5, 1636.7, 1635....",271441
2129,35997,62704,519,519,"[595.7999, 595.0, 594.2, 593.4, 592.5999, 591....",269361
2128,35997,53141,519,519,"[562.9, 562.0999, 561.2999, 560.5, 559.7, 558....",269361
1806,31966,41490,517,517,"[-968.0, -969.6, -971.2, -972.8, -974.4, -976....",267289
1807,31966,49736,517,517,"[-824.8, -825.2, -825.6, -826.0, -826.4, -826....",267289
1036,22957,57042,517,517,"[1906.5, 1905.7, 1904.9, 1904.1, 1903.3, 1902....",267289
1803,31927,47897,513,513,"[-718.0, -718.8, -719.6, -720.4, -721.2, -722....",263169

## Area

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3261,50519,31308,601,601,"[1978.6, 1977.8, 1977.0, 1976.2, 1975.4, 1974....",361201
3260,50519,23991,601,601,"[2010.6, 2009.8, 2009.0, 2008.2, 2007.4, 2006....",361201
874,20689,14184,583,583,"[-1443.0, -1443.8, -1444.6, -1445.4, -1446.2, ...",339889
875,20689,48572,583,583,"[-1326.0, -1326.8, -1327.6, -1328.4, -1329.2, ...",339889
2695,43201,33794,552,552,"[1838.0, 1837.2, 1836.4, 1835.6, 1834.8, 1834....",304704
3341,5149,28128,544,544,"[1455.5, 1454.7, 1453.9, 1453.1, 1452.3, 1451....",295936
2928,46583,12323,543,543,"[-156.5, -159.0, -161.5, -164.0, -166.5, -169....",294849
1010,2254,687,538,538,"[-419.6, -420.4, -421.2, -422.0, -422.8, -423....",289444
1009,2254,15570,538,538,"[-475.0, -476.0, -477.0, -478.0, -479.0, -480....",289444
1296,26009,6135,535,535,"[-757.5, -759.1, -760.7, -762.3, -763.9, -765....",286225
2210,37028,25758,532,532,"[-845.0, -846.0, -847.0, -848.0, -849.0, -850....",283024
2696,43201,37579,532,532,"[1942.6, 1941.8, 1941.0, 1940.2, 1939.4, 1938....",283024
2211,37028,45013,532,532,"[-810.6, -811.4, -812.2, -813.0, -813.8, -814....",283024
3342,5149,51175,528,528,"[1454.5, 1453.7, 1452.9, 1452.1, 1451.3, 1450....",278784
4390,64769,11211,527,527,"[1490.7, 1489.9, 1489.1, 1488.3, 1487.5, 1486....",277729
1486,28211,9673,525,525,"[1909.6, 1908.8, 1908.0, 1907.2, 1906.4, 1905....",275625
2949,46831,21985,525,525,"[1641.0, 1640.2, 1639.4, 1638.6, 1637.8, 1637....",275625
1341,26473,11365,525,525,"[1631.0, 1627.0, 1623.0, 1619.0, 1615.0, 1611....",275625
3091,4852,24485,525,525,"[1554.0, 1553.2, 1552.4, 1551.6, 1550.8, 1550....",275625
2950,46831,35782,521,521,"[1639.9, 1639.1, 1638.3, 1637.5, 1636.7, 1635....",271441
2128,35997,53141,519,519,"[562.9, 562.0999, 561.2999, 560.5, 559.7, 558....",269361
2129,35997,62704,519,519,"[595.7999, 595.0, 594.2, 593.4, 592.5999, 591....",269361
1806,31966,41490,517,517,"[-968.0, -969.6, -971.2, -972.8, -974.4, -976....",267289
1807,31966,49736,517,517,"[-824.8, -825.2, -825.6, -826.0, -826.4, -826....",267289
1036,22957,57042,517,517,"[1906.5, 1905.7, 1904.9, 1904.1, 1903.3, 1902....",267289
1803,31927,47897,513,513,"[-718.0, -718.8, -719.6, -720.4, -721.2, -722....",263169

# Cropped shapes

In [5]:
shapes = pd.read_csv("reduced_shape.csv")

display_shapes(shapes)

## H

      patient_id  series_id  shape_h  shape_w    area
1628       29749      28837      500      500  250000
2798       44620      26843      499      494  246506
2787       44507      21282      495      499  247005
2871       45773      21735      491      500  245500
436        15398      44849      490      500  245000
437        15398      60509      490      500  245000
3399       52106      26553      487      467  227429
1706       30791      11135      487      467  227429
482        15968      41122      487      500  243500
1851       32442      45515      486      500  243000
4561        7933      22515      485      497  241045
4562        7933       2859      485      489  237165
1852       32442        550      485      500  242500
370        14654      59721      485      486  235710
3400       52106      44841      485      467  226495
815        19763      12621      484      500  242000
2803       44649      50198      484      500  242000
4142       61342      11244      483      500  241500
2802       44649       4563      483      500  241500
816        19763      17217      483      500  241500
597        17264       8766      482      491  236662
1495       28294      28339      480      496  238080
1494       28294      21366      480      496  238080
596        17264      30494      480      491  235680
176        12354      59633      479      500  239500
1059       23311       2828      478      495  236610
1058       23311       2339      476      486  231336
1905          33      55570      475      500  237500
716        18775      22816      474      500  237000
182        12451      41994      474      500  237000

## W

      patient_id  series_id  shape_h  shape_w    area
2928       46583      12323      413      538  222194
1343       26501      31614      321      503  161463
1296       26009       6135      333      502  167166
817        19766      29313      421      501  210921
3261       50519      31308      431      501  215931
3260       50519      23991      431      501  215931
489        16036      22350      398      501  199398
1486       28211       9673      408      501  204408
3654       55353      57102      379      501  189879
4390       64769      11211      420      501  210420
818        19766      56628      414      501  207414
3653       55353      43042      380      501  190380
1254       25598      13843      401      501  200901
129        11803      28720      465      500  232500
4082       60442       5778      420      500  210000
4142       61342      11244      483      500  241500
4302       63665      13734      353      500  176500
3163       49274      49616      443      500  221500
4303       63665      19848      363      500  181500
4108       60726      46835      428      500  214000
4107       60726      22958      383      500  191500
980        22122      56816      389      500  194500
4084       60455      45625      407      500  203500
1885        3283       8630      444      500  222000
4081       60442      27424      422      500  211000
2051       35118      50532      454      500  227000
1884        3283      46727      444      500  222000
1882       32780      36802      444      500  222000
570        16930      24368      386      500  193000
176        12354      59633      479      500  239500

## Area

      patient_id  series_id  shape_h  shape_w    area
1628       29749      28837      500      500  250000
2787       44507      21282      495      499  247005
2798       44620      26843      499      494  246506
2871       45773      21735      491      500  245500
437        15398      60509      490      500  245000
436        15398      44849      490      500  245000
482        15968      41122      487      500  243500
1851       32442      45515      486      500  243000
1852       32442        550      485      500  242500
2803       44649      50198      484      500  242000
815        19763      12621      484      500  242000
816        19763      17217      483      500  241500
2802       44649       4563      483      500  241500
4142       61342      11244      483      500  241500
4561        7933      22515      485      497  241045
176        12354      59633      479      500  239500
1494       28294      21366      480      496  238080
1495       28294      28339      480      496  238080
1905          33      55570      475      500  237500
4562        7933       2859      485      489  237165
182        12451      41994      474      500  237000
716        18775      22816      474      500  237000
597        17264       8766      482      491  236662
1059       23311       2828      478      495  236610
370        14654      59721      485      486  235710
596        17264      30494      480      491  235680
1225       25231      50158      471      500  235500
3425       52387      52383      470      500  235000
4200       62066      15559      473      496  234608
2313       38088      59202      469      500  234500