In [1]:
import pandas as pd

In [2]:
shapes = pd.read_csv("data_npy/shape_info.csv")

In [4]:
shapes["area"] = shapes["shape_h"] * shapes["shape_w"]

In [8]:
h_first = shapes.sort_values("shape_h", ascending=False)
display(h_first)

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3261,50519,31308,601,601,"[1978.6, 1977.8, 1977.0, 1976.2, 1975.4, 1974....",361201
...,...,...,...,...,...,...
519,16255,26426,212,364,"[-396.08417, -399.06116, -402.03818, -405.0151...",77168
1709,30890,27030,208,282,"[-446.0, -449.0, -452.0, -455.0, -458.0, -461....",58656
3797,56903,8649,206,305,"[-21.768023, -24.76402, -27.76102, -30.758022,...",62830
3796,56903,32515,206,305,"[1.1219784, -1.8750216, -4.8720217, -7.8690214...",62830
1710,30890,383,194,380,"[-480.401, -483.401, -486.401, -489.401, -492....",73720

In [9]:
w_first = shapes.sort_values("shape_w", ascending=False)
display(w_first)

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3260,50519,23991,601,601,"[2010.6, 2009.8, 2009.0, 2008.2, 2007.4, 2006....",361201
...,...,...,...,...,...,...
2631,42436,11748,282,282,"[17.9, 12.9, 7.9, 2.9, -2.1, -7.1, -12.1, -17....",79524
1504,28371,30990,279,279,"[-370.6, -373.6, -376.6, -379.6, -382.6, -385....",77841
2532,41055,6983,271,271,"[73.71, 72.11, 70.51, 68.91, 67.31, 65.71, 64....",73441
1311,26099,30189,268,268,"[-149.8, -152.8, -155.8, -158.8, -161.8, -164....",71824
1312,26099,59847,268,268,"[-210.3, -213.3, -216.3, -219.3, -222.3, -225....",71824

In [10]:
area = shapes.sort_values("area", ascending=False)
display(area)

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3261,50519,31308,601,601,"[1978.6, 1977.8, 1977.0, 1976.2, 1975.4, 1974....",361201
...,...,...,...,...,...,...
46,10550,27106,228,315,"[-437.0035, -442.0035, -447.0035, -452.0035, -...",71820
2764,44136,35661,221,318,"[-832.93774, -834.93176, -836.9257, -838.9207,...",70278
3796,56903,32515,206,305,"[1.1219784, -1.8750216, -4.8720217, -7.8690214...",62830
3797,56903,8649,206,305,"[-21.768023, -24.76402, -27.76102, -30.758022,...",62830
1709,30890,27030,208,282,"[-446.0, -449.0, -452.0, -455.0, -458.0, -461....",58656

# H

In [13]:
display(h_first.head(30))

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3261,50519,31308,601,601,"[1978.6, 1977.8, 1977.0, 1976.2, 1975.4, 1974....",361201
3260,50519,23991,601,601,"[2010.6, 2009.8, 2009.0, 2008.2, 2007.4, 2006....",361201
874,20689,14184,583,583,"[-1443.0, -1443.8, -1444.6, -1445.4, -1446.2, ...",339889
875,20689,48572,583,583,"[-1326.0, -1326.8, -1327.6, -1328.4, -1329.2, ...",339889
2695,43201,33794,552,552,"[1838.0, 1837.2, 1836.4, 1835.6, 1834.8, 1834....",304704
3341,5149,28128,544,544,"[1455.5, 1454.7, 1453.9, 1453.1, 1452.3, 1451....",295936
2928,46583,12323,543,543,"[-156.5, -159.0, -161.5, -164.0, -166.5, -169....",294849
1010,2254,687,538,538,"[-419.6, -420.4, -421.2, -422.0, -422.8, -423....",289444
1009,2254,15570,538,538,"[-475.0, -476.0, -477.0, -478.0, -479.0, -480....",289444
1296,26009,6135,535,535,"[-757.5, -759.1, -760.7, -762.3, -763.9, -765....",286225
2210,37028,25758,532,532,"[-845.0, -846.0, -847.0, -848.0, -849.0, -850....",283024
2696,43201,37579,532,532,"[1942.6, 1941.8, 1941.0, 1940.2, 1939.4, 1938....",283024
2211,37028,45013,532,532,"[-810.6, -811.4, -812.2, -813.0, -813.8, -814....",283024
3342,5149,51175,528,528,"[1454.5, 1453.7, 1452.9, 1452.1, 1451.3, 1450....",278784
4390,64769,11211,527,527,"[1490.7, 1489.9, 1489.1, 1488.3, 1487.5, 1486....",277729
1486,28211,9673,525,525,"[1909.6, 1908.8, 1908.0, 1907.2, 1906.4, 1905....",275625
2949,46831,21985,525,525,"[1641.0, 1640.2, 1639.4, 1638.6, 1637.8, 1637....",275625
1341,26473,11365,525,525,"[1631.0, 1627.0, 1623.0, 1619.0, 1615.0, 1611....",275625
3091,4852,24485,525,525,"[1554.0, 1553.2, 1552.4, 1551.6, 1550.8, 1550....",275625
2950,46831,35782,521,521,"[1639.9, 1639.1, 1638.3, 1637.5, 1636.7, 1635....",271441
2128,35997,53141,519,519,"[562.9, 562.0999, 561.2999, 560.5, 559.7, 558....",269361
2129,35997,62704,519,519,"[595.7999, 595.0, 594.2, 593.4, 592.5999, 591....",269361
1806,31966,41490,517,517,"[-968.0, -969.6, -971.2, -972.8, -974.4, -976....",267289
1807,31966,49736,517,517,"[-824.8, -825.2, -825.6, -826.0, -826.4, -826....",267289
1036,22957,57042,517,517,"[1906.5, 1905.7, 1904.9, 1904.1, 1903.3, 1902....",267289
1803,31927,47897,513,513,"[-718.0, -718.8, -719.6, -720.4, -721.2, -722....",263169

# W

In [14]:
display(w_first.head(30))

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3260,50519,23991,601,601,"[2010.6, 2009.8, 2009.0, 2008.2, 2007.4, 2006....",361201
3261,50519,31308,601,601,"[1978.6, 1977.8, 1977.0, 1976.2, 1975.4, 1974....",361201
874,20689,14184,583,583,"[-1443.0, -1443.8, -1444.6, -1445.4, -1446.2, ...",339889
875,20689,48572,583,583,"[-1326.0, -1326.8, -1327.6, -1328.4, -1329.2, ...",339889
2695,43201,33794,552,552,"[1838.0, 1837.2, 1836.4, 1835.6, 1834.8, 1834....",304704
3341,5149,28128,544,544,"[1455.5, 1454.7, 1453.9, 1453.1, 1452.3, 1451....",295936
2928,46583,12323,543,543,"[-156.5, -159.0, -161.5, -164.0, -166.5, -169....",294849
1010,2254,687,538,538,"[-419.6, -420.4, -421.2, -422.0, -422.8, -423....",289444
1009,2254,15570,538,538,"[-475.0, -476.0, -477.0, -478.0, -479.0, -480....",289444
1296,26009,6135,535,535,"[-757.5, -759.1, -760.7, -762.3, -763.9, -765....",286225
2211,37028,45013,532,532,"[-810.6, -811.4, -812.2, -813.0, -813.8, -814....",283024
2210,37028,25758,532,532,"[-845.0, -846.0, -847.0, -848.0, -849.0, -850....",283024
2696,43201,37579,532,532,"[1942.6, 1941.8, 1941.0, 1940.2, 1939.4, 1938....",283024
3342,5149,51175,528,528,"[1454.5, 1453.7, 1452.9, 1452.1, 1451.3, 1450....",278784
4390,64769,11211,527,527,"[1490.7, 1489.9, 1489.1, 1488.3, 1487.5, 1486....",277729
2949,46831,21985,525,525,"[1641.0, 1640.2, 1639.4, 1638.6, 1637.8, 1637....",275625
3091,4852,24485,525,525,"[1554.0, 1553.2, 1552.4, 1551.6, 1550.8, 1550....",275625
1341,26473,11365,525,525,"[1631.0, 1627.0, 1623.0, 1619.0, 1615.0, 1611....",275625
1486,28211,9673,525,525,"[1909.6, 1908.8, 1908.0, 1907.2, 1906.4, 1905....",275625
2950,46831,35782,521,521,"[1639.9, 1639.1, 1638.3, 1637.5, 1636.7, 1635....",271441
2129,35997,62704,519,519,"[595.7999, 595.0, 594.2, 593.4, 592.5999, 591....",269361
2128,35997,53141,519,519,"[562.9, 562.0999, 561.2999, 560.5, 559.7, 558....",269361
1806,31966,41490,517,517,"[-968.0, -969.6, -971.2, -972.8, -974.4, -976....",267289
1807,31966,49736,517,517,"[-824.8, -825.2, -825.6, -826.0, -826.4, -826....",267289
1036,22957,57042,517,517,"[1906.5, 1905.7, 1904.9, 1904.1, 1903.3, 1902....",267289
1803,31927,47897,513,513,"[-718.0, -718.8, -719.6, -720.4, -721.2, -722....",263169

# Area

In [15]:
display(area.head(30))

,patient_id,series_id,shape_h,shape_w,z_positions,area
2432,3975,18519,624,624,"[1801.5, 1800.7, 1799.9, 1799.1, 1798.3, 1797....",389376
2433,3975,35663,621,621,"[1876.9, 1876.1, 1875.3, 1874.5, 1873.7, 1872....",385641
2408,3950,64398,611,611,"[-776.3, -777.1, -777.9, -778.7, -779.5, -780....",373321
2407,3950,16705,611,611,"[-975.5, -976.3, -977.1, -977.9, -978.7, -979....",373321
3261,50519,31308,601,601,"[1978.6, 1977.8, 1977.0, 1976.2, 1975.4, 1974....",361201
3260,50519,23991,601,601,"[2010.6, 2009.8, 2009.0, 2008.2, 2007.4, 2006....",361201
874,20689,14184,583,583,"[-1443.0, -1443.8, -1444.6, -1445.4, -1446.2, ...",339889
875,20689,48572,583,583,"[-1326.0, -1326.8, -1327.6, -1328.4, -1329.2, ...",339889
2695,43201,33794,552,552,"[1838.0, 1837.2, 1836.4, 1835.6, 1834.8, 1834....",304704
3341,5149,28128,544,544,"[1455.5, 1454.7, 1453.9, 1453.1, 1452.3, 1451....",295936
2928,46583,12323,543,543,"[-156.5, -159.0, -161.5, -164.0, -166.5, -169....",294849
1010,2254,687,538,538,"[-419.6, -420.4, -421.2, -422.0, -422.8, -423....",289444
1009,2254,15570,538,538,"[-475.0, -476.0, -477.0, -478.0, -479.0, -480....",289444
1296,26009,6135,535,535,"[-757.5, -759.1, -760.7, -762.3, -763.9, -765....",286225
2210,37028,25758,532,532,"[-845.0, -846.0, -847.0, -848.0, -849.0, -850....",283024
2696,43201,37579,532,532,"[1942.6, 1941.8, 1941.0, 1940.2, 1939.4, 1938....",283024
2211,37028,45013,532,532,"[-810.6, -811.4, -812.2, -813.0, -813.8, -814....",283024
3342,5149,51175,528,528,"[1454.5, 1453.7, 1452.9, 1452.1, 1451.3, 1450....",278784
4390,64769,11211,527,527,"[1490.7, 1489.9, 1489.1, 1488.3, 1487.5, 1486....",277729
1486,28211,9673,525,525,"[1909.6, 1908.8, 1908.0, 1907.2, 1906.4, 1905....",275625
2949,46831,21985,525,525,"[1641.0, 1640.2, 1639.4, 1638.6, 1637.8, 1637....",275625
1341,26473,11365,525,525,"[1631.0, 1627.0, 1623.0, 1619.0, 1615.0, 1611....",275625
3091,4852,24485,525,525,"[1554.0, 1553.2, 1552.4, 1551.6, 1550.8, 1550....",275625
2950,46831,35782,521,521,"[1639.9, 1639.1, 1638.3, 1637.5, 1636.7, 1635....",271441
2128,35997,53141,519,519,"[562.9, 562.0999, 561.2999, 560.5, 559.7, 558....",269361
2129,35997,62704,519,519,"[595.7999, 595.0, 594.2, 593.4, 592.5999, 591....",269361
1806,31966,41490,517,517,"[-968.0, -969.6, -971.2, -972.8, -974.4, -976....",267289
1807,31966,49736,517,517,"[-824.8, -825.2, -825.6, -826.0, -826.4, -826....",267289
1036,22957,57042,517,517,"[1906.5, 1905.7, 1904.9, 1904.1, 1903.3, 1902....",267289
1803,31927,47897,513,513,"[-718.0, -718.8, -719.6, -720.4, -721.2, -722....",263169